$color-text: #FFFFFF;
$color-title: #202027;
$color-border: #000000;
$color-line: #BCEC30;
$color-background: #E1FF8F;
$color-text-background: #F7F7F7;

$font-fam: "Montserrat", "sans-serif";

$fw-bold: 700;
$fw-semi-bold: 600;
$fw-medium: 500; 
$fw-regular: 400;

$width-site: 1200px;
$gap: 2rem;
$border-radius: 30px;